<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<title>Detalle de Actividad</title>
		<!-- DataTable -->
		<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
	</head>

<body>
<div class="container mt-5">
    <div class="row">		
		<div class="col-md-10 offset-md-1">
			<a class="btn btn-primary mb-3" th:href="@{/dashboard_actividad}">Regresar</a>
			<a class="btn btn-secondary mb-3" th:href="@{/editar_actividad/}+${actividad.id}">Editar Actvidad</a>
			<a  class="btn btn-secondary mb-3" onclick="mostrarInput2()" th:if="${actividad.participante.size() >= 1}" >Generar Constancias Modalidad Libre</a>

			<div class="card mt-3 mb-3 p-3 m-3" id="inputContainer2" style="display: none;">
				<form th:action="@{/generar_constancia_actividad/}+${actividad.id}" method="post" enctype="multipart/form-data">
					<div class="mb-3">
						<label for="pathFile" class="form-label">Seleccione Ubicacion:</label>
						<input type="text" class="form-control" name="pathFile" id="pathFile" placeholder="Ingrese la ruta de la carpeta vacía" required>

					</div>
					<button type="submit" class="btn btn-primary">Guardar Constancias</button>
					<button type="button" class="btn btn-secondary ms-2" onclick="ocultarInput2()">Cancelar</button>
				</form>
			</div>
			<div class="card">
                <div class="card-header">
                    Detalle de Actividad
                </div>
                <div class="card-body">
                    <p><strong>ID:</strong> <span th:text="${actividad.id}"></span></p>
                    <p><strong>Nombre de Actividad:</strong> <span th:text="${actividad.nombreActividad}"></span></p>
                    <p><strong>Ubicación:</strong> <span th:text="${actividad.ubicacionActividad}"></span></p>
                    <p><strong>Fecha:</strong> <span th:text="${actividad.fechaActividad}"></span></p>
                    <p><strong>Hora de Inicio:</strong> <span th:text="${actividad.horaInicio}"></span></p>
                    <p><strong>Hora de Fin:</strong> <span th:text="${actividad.horaFin}"></span></p>
                    <p><strong>Estado:</strong> <span th:text="${actividad.estado} ? 'Activo' : 'Inactivo'"></span></p>
                    <p><strong>Duración:</strong> <span th:text="${actividad.obtenerDuracionActividad()}"></span> horas</p>
					<p th:if="${actividad.modulo != null}"><strong>Módulo:</strong> <span th:text="${actividad.modulo.nombre}"></span></p>
					<p th:if="${actividad.modulo == null}"><strong>Sin Módulo Asociado</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-10 offset-md-1">
			<div class="card mt-3">
                <div class="card-header">
                    Listado de Voluntarios
                </div>
                <div class="card-body">
                    <a class="btn btn-danger" th:if="${actividad.participante.size() >= 1}" th:href="@{/retirar_todos_voluntarios/}+${actividad.id}">Eliminar Todos</a>
          	     	<a class="btn btn-primary"  th:href="@{/agregarVoluntarioToActividad/}+${actividad.id}">Agregar Voluntario(s) </a>
            		<a href="/dashboard_voluntario" class="btn btn-success">Dashboard Voluntarios</a>
                </div>
    			<div class="card mt-3" id="inputContainer" style="display: none;">
					<div class="card-header">
						Subir Excel
					</div>
					<div class="card-body">
						<form th:action="@{/cargarExcelVoluntariostoActividad/}+${actividad.id}" method="post" enctype="multipart/form-data">
							<div class="mb-3">
								<label for="excelFile" class="form-label">Ingrese Archivo Excel:</label>
								<input type="file" class="form-control" name="excelFile" id="excelFile" accept=".xlsx,.xls"  required>
							</div>
							<button type="submit" class="btn btn-primary" name="actionType" value="verEstado">Ver Estado</button>
							<button type="submit" class="btn btn-primary" name="actionType" value="insertarVoluntario">Insertar Voluntarios</button>
							<button type="button" class="btn btn-secondary ms-2" onclick="ocultarInput()">Cancelar</button>
						</form>
					</div>
            	</div>
                <div class="card-body">
					<table class="table" id="tablaVoluntarios">
						<thead>
							<tr>
								<th>DNI</th>
								<th>Nombre</th>
								<th>Tipo de Participacion</th>
								<th>Estado</th>
								<th>Opciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="participante : ${actividad.participante}">
								<td th:text="${participante.voluntario.dni}"></td>
								<td th:text="${participante.voluntario.nombre}"></td>
								<td th:text="${participante.isParticipant} ? 'Participo' : 'No Participó' "></td>
								<td>
									<a th:href="@{/change_participacion/}+${participante.id}" class="btn btn-sm btn-secondary mb-1 mr-3">Cambiar Participación</a>
									<a th:href="@{/editar_voluntario_formParticipante/}+${participante.id}" class="btn btn-sm btn-secondary mb-1 mr-2">Editar Voluntario</a>
									<a th:href="@{/retirar_voluntario/}+${participante.id}" class="btn btn-sm btn-warning mb-1 mr-2">Retirar Voluntario</a>
									<a th:href="@{/generar_voluntario_constancia/}+${participante.id}" class="btn btn-sm btn-primary mb-1 mr-2">Generar Constancia</a>
								</td>
 							</tr>
						</tbody>
					</table>
                </div>
            </div>
		</div>
    </div>
</div>
</body>
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- DataTable -->
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<!-- Scripts para lectura de tabla -->
<script>
$(document).ready( function () {
	$('#tablaVoluntarios').DataTable();
} );


function mostrarInput2() {
		document.getElementById('inputContainer2').style.display = 'block';
	}

	function ocultarInput2() {
		document.getElementById('inputContainer2').style.display = 'none';
	}
</script>
</html>
